<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
<!-- display most recent news article title and text -->
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Latest Mars News</h3>
            <h4><i>{{mard_data.news_title}}</i></h2>
            <p>{{mard_data.news_text}}</p>
            <a href="https://mars.nasa.gov/news/" style="font-size:x-small">Find more news articles</a> <!-- link to find more news articles -->
            <br>
            <br>
        </div>
    </div>
    <!-- show current featured image -->
    <div class="row">
        <div class="col-md-8">
            <h2>Featured Mars Image</h3>
            <img style="width:100%" src={{mard_data.featured_image}}>
        </div>
        <!-- current weather on mars from most recent tweet -->
        <div class="col-md-4" >
            <div class="row" style="border:solid 1px; padding: 20px 10px 20px 10px">
                <h4>Current Weather on Mars</h4>
                <p >{{mard_data.weather_info}}</p>
            </div>
            <!-- facts about mars from table -->
            <div class="row">
                <p></p>
                <h4 style="padding: 10px 0px 10px 0px">Mars Facts</h4>
                <br>
            </div>
            <div class="row">
                {{mard_data.mars_facts|safe}}
            </div>
        </div>
    </div>
</div>
<!-- hemispheres title -->
<div class="container">
    <br>
    <h3 style="text-align: center">Mars Hemispheres</h3>
    <hr>
</div>
<!-- display cards for each hemisphere image and name -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width:75%; margin-left:auto"> 
                <img src={{mard_data.hemisphere_info[0].img_url}} class="card-img-top" alt={{mard_data.hemisphere_info[0].title}}>
                <div class="card-body">
                    <p class="card-text"><strong>{{mard_data.hemisphere_info[0].title}}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:75%; margin-right:auto"> 
                <img src={{mard_data.hemisphere_info[1].img_url}} class="card-img-top" alt={{mard_data.hemisphere_info[1].title}}>
                <div class="card-body">
                    <p class="card-text"><strong>{{mard_data.hemisphere_info[1].title}}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card" style="width:75%; margin-left:auto"> 
                <img src={{mard_data.hemisphere_info[2].img_url}} class="card-img-top" alt={{mard_data.hemisphere_info[2].title}}>
                <div class="card-body">
                    <p class="card-text"><strong>{{mard_data.hemisphere_info[2].title}}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:75%; margin-right:auto"> 
                <img src={{mard_data.hemisphere_info[3].img_url}} class="card-img-top" alt={{mard_data.hemisphere_info[3].title}}>
                <div class="card-body">
                    <p class="card-text"><strong>{{mard_data.hemisphere_info[3].title}}</strong></p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</html>